.header {
	height: 50%;
	text-align: center;
	background-color: 	rgba(98, 98, 96, 0.8);
}

.header > #searchTextField {
	height: 50px;
    width: 460px;
    margin-top: 10%;
    font-size: 20px;
    padding-left: 4px;
}

.header > #two {
	height: 50px;
	width: 160px;
	border-radius: 0px;
	border: 1px solid;
	box-shadow: none;
	margin-left: 10px; 
	font-size: 22px;
	background-color: rgba(196, 214, 249, 0.9);
	opacity: 0.9;
}

.header > #two:hover {
	opacity: 1;
}

.header > #one {
	height: 50px;
	width: 200px;
	border-radius: 0px;
	border: 1px solid;
	box-shadow: none;
	margin-left: 10px; 
	font-size: 22px;
	background-color: rgba(196, 214, 249, 0.9);
	opacity: 0.9;
}

.header > #one:hover {
	opacity: 1;
}

.body {
	height: 50%;
	background-color: rgba(228, 227, 227, 1);
}

.body > #three {
	display: block;
	position: absolute;
	left: 35%;
	top: 70%;
	height: 70px;
	width: 30%;
	border-radius: 0px;
	border: 1px solid;
	box-shadow: none;
	margin-left: 10px; 
	font-size: 36px;
	opacity: 0.9
}

.body > #three:hover {
	opacity: 1;
}